.site-header
  border-bottom: 2px solid $primary
  background: white

.site-branding
  +col-1-2
  padding: 0.8rem 0

.site-title
  text-transform: capitalize
  margin-bottom: 0
  a
    +link-colors($primary,$primary,$primary,$primary,$primary)

.site-description
  font-size: 0.8rem
  max-width: 221px
  margin-bottom: 0