// .site-header



.site-branding
  float: left
  padding: 8px 35px

.compact .site-branding
  padding: 6px 25px

.site-title
  text-transform: capitalize
  margin: 0
  padding: 0
  font-size: 1.7rem
  display: block
  a
    +link-colors(white,white,white,white,white)
    border: none
    &:focus
      +text-shadow(none)

.logo
  max-width: 230px


.compact .logo
  max-width: 180px


