@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic)


body, button, input, select, textarea
  color: #404040
  line-height: 1.5
  font-family: 'adelle' Georgia, Times, 'Times New Roman', serif

h1, h2, h3, h4, h5, h6
  clear: both
  margin: 0
  font-family: 'superclarendon',  Georgia, Times, 'Times New Roman', serif
  a
    text-decoration: none

h1
  margin-bottom: 1rem
  line-height: 1.4
h2
  margin-bottom: 1rem
  line-height: 1.4
h3
  margin-bottom: 1rem
  line-height: 1.4
h4
  margin-bottom: 1rem
  line-height: 1.4
h5
  margin-bottom: 1rem
  line-height: 1.4
h6
  margin-bottom: 1rem
  line-height: 1.4

a
  +link-colors($primary,$primary,$primary,$primary,$primary)

p
  margin-bottom: 1.5em

b, strong
  font-weight: bold

dfn, cite, em, i
  font-style: italic

blockquote
  margin: 0 1.5em

address
  margin: 0 0 1.5em

pre
  background: #eee
  font-family: "Courier 10 Pitch", Courier, monospace
  font-size: 15px
  font-size: 0.9375rem
  line-height: 1.6
  margin-bottom: 1.6em
  max-width: 100%
  overflow: auto
  padding: 1.6em

code, kbd, tt, var
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
  font-size: 15px
  font-size: 0.9375rem

abbr, acronym
  border-bottom: 1px dotted #666
  cursor: help

mark, ins
  background: #fff9c0
  text-decoration: none

small
  font-size: 75%

big
  font-size: 125%